:root {
    --bg-color: rgb(256, 0, 128);
  }
*{
   scroll-behavior: smooth;
}
input{
    border-radius: 12px;
    padding: 12px;
    color:violet;
}
h1{
   cursor: pointer;
}

input:hover{
    background-color: wheat;
    color: rgb(0, 0, 0);
}

#precisionrecall{
    background-color: rgb(68, 149, 219);
    padding: 5%;
    border-radius: 24px;
}
#Calculate{
    cursor: pointer;
}
#Calculate:hover{
    background-color: var(--bg-color);
}
u{
    cursor: pointer;
}
